# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

/src/main/java/com/springmvc/modeles/PathVersRessourcesWeb.java

/src/main/webapp/WEB-INF/spring-mvc-config