/* Pour faire la barre de son sur la page principale qui suit notre vue
position: -webkit-sticky;
position: sticky;
top: 20px;
*/

*{
	margin-left:auto;
	margin-right:auto;
}

body{
	background: #313133;
	color:white;
}

.couverture{
	position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%; 
    z-index:0;
}

.button{
	background-color: #3733D0;
	border: 0px solid black;
	height: 30px;
	width: 250px;
	border-radius: 20px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-left:36.8%;
}

.no-grid {
    height: 200px;
    flex: 1;
    min-width: 250px;
    max-width: 250px;
}

.product-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
}

.product-name {
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.product-amount {
    font-weight: 300;
    font-size: 14px;
}

.product-bio {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #3733D0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    flex-wrap: wrap;
    border-radius: 15px 0px;
    z-index:2;
    height:30px;
}

.music{
	z-index:3;
	margin-left:36.8%;
}